/*=========================
    Basic Styles
=========================*/
* {
    margin: 0;
    padding: 0;
}
:root {
    --ff: 'Roboto Slab', serif;
    --fw-n: 300;
    --fw-b: 600;

    font-size: 62.5%;
    --fs-2: 2rem;
    --fs-3: rem;
    --fs-p: 1.5rem;
    
    
    --clr-p: #2F323A;
    --clr-a: #06D6A0;
    --clr-a2:#D3D3D3;
    --clr-b: #FCFCFC;
    --clr-b2: #e6fcea;

    box-sizing: border-box;
    --h1-p: 2rem;
    --hr-p: 5%;
    --fm-p: 5%;
    --fm-box: 12px;
    --cc-p: 2rem;
}

body {
    background-color: var(--clr-b);
    text-align: center;
    font-size: var(--fs-p);
    border: none;
    max-height: 1vh;
}

#form {
    padding: var(--fm-p);
    text-align: left;
}

#info {
    background-color: var(--clr-b2);
}

h1 {
    background-color: var(--clr-p);
    color: var(--clr-a);
    padding: var(--h1-p);
    margin-bottom: 2rem;
    font-size: var(--fs-h1);
}

.hero {
    padding: var(--hero-p);
    color: var(--clr-p);
}

h2 {
    margin: 1rem;
}

h2, legend {
    font-weight: var(--fw-b);
    font-size: var(--fs-2);
}

p {
    font-size: var(--fs-p);
}

hr.thick {
	border-top: 5px solid var(--clr-p);
    padding: 1px;
    margin-top: 2rem;
}

hr.skinny {
border-top: 2px solid var(--clr-p);
}

#info {
    padding: var(--fm-p);
    text-align: left;
    border-bottom: 4px black solid;
}

fieldset {
    border: none;
}

legend {
    padding: 1rem 0 1rem 0;
}

.contact_info {
    padding-bottom: 0;
}

input[id=name], 
input[id=email],
input[id=phone],
input[id=street],
input[id=city],
select[id=state],
textarea[id=topics] {
    width: 100%;
    border: var(--clr-a2);
    border-radius: .5rem;
    background-color: var(--clr-a2);
    padding: var(--fm-box);
}

::placeholder, select {
    font-style: italic;
    text-align: right;
    color:var(--clr-a3);
}

.contact_containter {
    display: flex;
    flex-direction: column;
}

label[for~="zip"] {
    display: block;
    width: 100%;
}

#zip {
    width: 50%;
    border: var(--clr-a2);
    border-radius: .5rem;
    background-color: var(--clr-a2);
    padding: var(--fm-box);
    margin-bottom: 2rem;
}

input, select, textarea {
    padding: var(--fm-box);
    background-color: var(--clr-a2);
    border: 1px solid var(--clr-a2);
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 20px 0px 8px 0;
    color: var(--clr-p);
  }

  ::placeholder, select {
    font-style: italic;
    text-align: right;
    color:var(--clr-p);
}


/*Newletter Section*/

.flexbox {
    flex-direction: column;
    display: inline-block;
    width: 100%;
}

.p1 {
    margin-bottom: 1rem;
}

.p2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#topics {
    padding: 3rem;
}

/*Sign Up Button*/

button {
    background-color:var(--clr-a);
    color:var(--clr-b);
    width: 100%;
    padding: 12px 20px;
    margin-top: 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
button:hover {
    background-color:var(--clr-a);
  }

 .copyright {
      font-style: italic;
      text-align: center;
      padding-top: var(--cc-p);
  }

  .code {
      font-size: var(--fs-c);
  }

/*=========================
    Media Queries
=========================*/

@media (min-width: 768px) {

    #container {
        margin-left: 20%;
        margin-right: 20%;
    }

    #form {
        padding: 0;
    }

}